* {
  margin: 0%;
  padding: 0%;
}

.nav-brand {
  font-family: 'Lakki Reddy', cursive;
  color: white;
}

.nav-link {
  color: white;
  font-family: 'Lakki Reddy', cursive;
  font-size: 30px;
}

.card-details,
.food-details {
  font-family: 'Nova Slim', cursive;
  font-weight: bold;
}
